<!DOCTYPE html>
<html>
<head>
	<title>Voting</title>
	<script type="text/javascript">
	function logVote(vote) {
		var form = document.createElement('form');
	    form.setAttribute('method', 'post');
	    form.setAttribute('action', '/vote/' + vote);
	    form.style.display = 'hidden';
	    document.body.appendChild(form)
	    form.submit();
	}
	</script>
</head>
<body>
	
	<ol>
		<% votes.forEach(function(item) { %>
			<button type="button" onclick="logVote(<%= item.key %>);"><%= item.key %>. <%= item.text %></button>
		<% }); %>	
	</ol>
	 
</body>
</html>